@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')
layer(base);

@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  } 
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@theme {
  --breakpoint-xs: 25rem;
  --animate-float: float 3s ease-in-out infinite;  
  --shadow-up-down: 0 -1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
}

.type-writer-effect::after{
  content: '|';
  animation: blink 0.7s infinite;
}

@utility btn_white {
  @apply border-white bg-white px-8 py-3 text-green-50;
}

@utility btn_white_text {
  @apply border-white bg-white px-8 py-3 text-gray-90;
}

@utility btn_green {
  @apply border-green-50 bg-green-50 px-8 py-5 text-white;
}

@utility btn_dark_green {
  @apply bg-green-90 px-8 py-4 text-white transition-all hover:bg-black;
}

@utility btn_dark_green_outline {
  @apply border-gray-20 bg-green-90 px-8 py-5 text-white;
}

@utility max-container {
  @apply mx-auto max-w-[1440px];
}

@utility padding-container {
  @apply px-6 lg:px-20 2xl:px-0;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flexStart {
  @apply flex items-center justify-start;
}

@utility flexEnd {
  @apply flex items-center justify-end;
}

@utility regular-64 {
  /* FONTS */
  @apply text-[64px] font-[400] leading-[120%];
}

@utility regular-40 {
  @apply text-[40px] font-[400] leading-[120%];
}

@utility regular-32 {
  @apply text-[32px] font-[400];
}

@utility regular-24 {
  @apply text-[24px] font-[400];
}

@utility regular-20 {
  @apply text-[20px] font-[400];
}

@utility regular-18 {
  @apply text-[18px] font-[400];
}

@utility regular-16 {
  @apply text-[16px] font-[400];
}

@utility regular-14 {
  @apply text-[14px] font-[400];
}

@utility medium-14 {
  @apply text-[14px] font-[600];
}

@utility bold-88 {
  @apply text-[88px] font-[700] leading-[120%];
}

@utility bold-78 {
  @apply text-[78px] font-[700] leading-[120%];
}

@utility bold-64 {
  @apply text-[64px] font-[700] leading-[120%];
}

@utility bold-52 {
  @apply text-[52px] font-[800] leading-[120%];
}

@utility bold-40 {
  @apply text-[40px] font-[700] leading-[120%];
}

@utility bold-32 {
  @apply text-[32px] font-[700] leading-[120%];
}

@utility bold-20 {
  @apply text-[20px] font-[700];
}

@utility bold-18 {
  @apply text-[18px] font-[700];
}

@utility bold-16 {
  @apply text-[16px] font-[700];
}

@utility hero-map {
  /* Hero */
  @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md:-right-28 xl:-top-60 opacity-80 md:opacity-100;
}

@utility camp-quote {
  /* Camp */
  @apply absolute -right-6 bottom-4 w-[140px] lg:bottom-10 xl:-right-8 xl:w-[186px] 2xl:right-0;
}

@utility feature-phone {
  /* Feature */
  @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex 2xl:left-32;
}

@utility get-app {
  /* Get App */
  @apply max-container relative flex w-full flex-col justify-between gap-15 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-black lg:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[698px] xl:rounded-3xl;
}

@utility app-container {
  @apply flex flex-col min-h-screen
}

@utility main-content {
  @apply flex-grow
}

@layer utilities {
  :root {
    --font-sora: 'Sora', sans-serif;
    --font-code: 'Source Code Pro', monospace;
    --font-grotesk: 'Space Grotesk', sans-serif;
    --font-k2d: 'K2D', serif;
  }

  * {
    scroll-behavior: smooth;
  }

  body {
    /* background-color: #f1f1f1; */
    font-family: 'K2D', serif;
    font-weight: 200;
  }

}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;  
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;  
  }  
}

@layer base {
  * {
    @apply border-border;  
  }
  body {
    @apply bg-background text-foreground;  
  }  
  button {
    @apply cursor-pointer;
  }
}